body{
    font-family: arial, sans-serif;
    background:#ccc;
    margin: 0px;
    
}

.cabeca{
    display: inline-block;
    margin-bottom: 10px solid red;
    background: red;
    width: 80%;
    margin:center;
    
}